[req]
distinguished_name = dn
x509_extensions = v3_req
prompt = no

[dn]
CN = vpn.lab.local

[v3_req]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = vpn.lab.local
DNS.2 = tt.lab.local
