[req]
distinguished_name = dn
x509_extensions = v3_req
prompt = no

[dn]
CN = vpn.example.com

[v3_req]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = vpn.example.com
DNS.2 = tt.example.com
